<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="raddar.gruppen">
	<uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
	


	<application android:icon="@drawable/r" android:label="@string/app_name" android:debuggable="true" android:testOnly="false">


	

		<uses-library android:name="com.google.android.maps" />

		<activity android:name="raddar.views.StartView"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" e667c4b8fe0add5a6e5826b2bb0d8d85910c912c="android:label=">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		<activity
			android:name="raddar.views.MainView"
			android:label="@string/app_name">

		</activity>

		<activity
			android:name="raddar.views.MapUI"
			android:label="@string/app_name">

		</activity>
		<activity android:name="raddar.views.InboxView"></activity>
		<activity android:name="raddar.views.ReadMessageView"></activity>

		<activity android:name="raddar.views.MessageChoiceView"></activity>

		<activity android:name="raddar.views.SendMessageView"></activity>
		<activity android:name="raddar.views.ContactView"></activity>

		<activity android:name="raddar.views.ServiceView"></activity>
		<activity android:name="raddar.views.AddContactView"></activity>


	</application>

</manifest>